@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
ul,ol,li {
    list-style: none;
}


.container {
    width: 800px;
    margin: 60px auto;
    text-align: center;
}

.container h1 {
    margin-bottom: 30px;
}

.container table {
    width: 100%;
    margin-bottom: 60px;
    border-collapse: collapse;
}
.container table th, .container table td {
    padding: 6px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.container table th:last-child, .container table td:last-child {
    border-right: none;
}

.container p {
    font-size: 24px;
    font-weight: bold;
}