@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

/* float해제를 위한 클래스 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    color: #333;
    background-color: #fff;
}

header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

header .inner {
    position: relative;
}

header .logo {
    float: left;
}

header .logo a {
    display: block;
}

header .logo a img {
    display: block;
    height: 40px;
    margin-top: 40px;
}

header .menu-bg {
    width: 100%;
    height: 140px;
    background-color: #f0f0f0;
    position: absolute;
    left: 0;
    top: 100px;

    display: none; /* 구현을 위한 초기설정! */
}

header .menu {
    float: right;
    text-align: center;
    margin-top: 40px;
    margin-right: 20px;
}

header .menu ul.gnb {}

header .menu ul.gnb>li {
    float: left;
    width: 150px;
    position: relative;
}

header .menu ul.gnb>li>a {
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
}

header .menu ul.gnb>li>a:hover {
    background-color: #5D5A88;
    color: #fff;
}

header .menu ul.gnb>li>ul.lnb {
    padding: 0 0 20px;
    position: absolute;
    width: 100%;

    display: none;
    /* 구현을 위한 초기설정! */
}

ul.lnb li {
    line-height: 40px;
    color: #555;
}

ul.lnb li a:hover {
    background-color: #ccc;
}

/* 
대메뉴인 ul.gnb>li 에 position: relative;는
1) 대메뉴명 내용만큼 공간을 갖기 위해
2) ul.lnb 덩어리의 기준이 되게 하기 위해

서브메뉴인 ul.lnb 가 position: absolute; 인 이유는
1) 서브메뉴가 공간을 갖지 않고 겹쳐져서 보여야 하기 때문에!

서브메뉴 ul.lnb가 단순히 쌓이는 순서만 생각해서 relative를 갖게 되면,
서브메뉴가 나올 때마다 슬라이드가 아래로 밀리는 문제가 발생하므로 
absolute를 설정하는 것이 적절합니다!
*/

section {
    width: 1200px;
    margin: 0 auto;
}

article.slide {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

article.slide .viewer {
    width: 300%;
}

article.slide .viewer li {
    width: 33.33%;
    float: left;
}

article.slide .viewer li img {
    display: block;
    width: 100%;
}

article.content {
    width: 100%;
    height: 200px;
}

article.content>div {
    /* outline: 2px solid red; */
    float: left;
    padding: 10px 0;
    box-sizing: border-box;
}

/* 공지사항, 갤러리 h2, ul 공통 */
article.content > div h2 {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-bottom: 0;
    display: inline-block;
    padding: 0 20px;
    color: #555;
    box-sizing: border-box;
}

article.content > div ul {
    border: 1px solid #ccc;
    padding: 10px;
    height: 140px;
    box-sizing: border-box;
}

article.content .notice-box {
    width: 40%;
    margin-right: 2%;
}

.notice-list li {
    line-height: 30px;
}

.notice-list li:nth-child(2n) {
    background-color: lightgoldenrodyellow;
}

.notice-list li::after {
    content: "";
    display: block;
    clear: both;
}

.notice-list li a {
    float: left;
}

.notice-list li:hover {
    background-color: #eee;
}

.notice-list li a:hover {
    text-decoration: underline;
}

.notice-list li span {
    float: right;
    font-size: 15px;
    color: #777;
}

article.content .gallery-box {
    width: 28%;
    margin-right: 2%;
}



article.content .gallery-box .gallery-list {
    background-color: #eee;
    padding: 25px 15px;
}

article.content .gallery-box .gallery-list li {
    float: left;
}

article.content .gallery-box .gallery-list li~li {
    margin-left: 10px;
}

article.content .banner {
    width: 28%;
    height: 100%;
}

article.content .banner a img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


/*****************************************************/

/* 모달 레이어 팝업 */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;

    display: none; /* 구현을 위한 초기설정! */
}

.modal .modal-content {
    width: 500px;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 12px;

    position: absolute; /* .modal 기준으로 위치설정! */
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
}

.modal .modal-content h3 {
    margin-bottom: 20px;
}

.modal .modal-content p {
    margin-bottom: 30px;
}

.modal .modal-content .btn-close {
    background-color: #000;
    color: #fff;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

/*****************************************************/


footer {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #d9d9d9;

    position: relative;
}

footer .footer-logo {
    float: left;
}

footer .footer-logo img {
    display: block;
    height: 40px;
    margin-top: 30px;
}

footer .copyright {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #666;
}

footer .family-site {
    float: right;
}

footer .family-site select {
    height: 30px;
    color: #666;
    margin-top: 35px;
    margin-right: 10px;
}