@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

/* float해제를 위한 클래스 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    color: #333;
    background-color: #fff;
}

header {
    width: 1340px;
    height: 100px;
    margin: 0 auto;
    background-color: #fff;
}

header .logo {
    padding: 30px 0;
    float: left;
}

header .logo img {
    height: 40px;
    display: block;
}

header .menu {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

header .menu .gnb>li {
    float: left;
    width: 180px;
    text-align: center;

    position: relative;
    /* .lnb의 기준! */
}

header .menu .gnb>li>a {
    line-height: 60px;
    font-size: 18px;
}

header .menu .gnb>li:hover {
    background-color: #5D5A88;
}

header .menu .gnb>li:hover>a {
    color: #fff;
    font-weight: bold;
}

header .menu .lnb {
    background-color: #eee;

    position: absolute;
    width: 100%;

    z-index: 999;
    /* 다음 영역 슬라이드에 fade슬라이드 구현을 위해 z-index 설정이 되어 있어서 
    .lnb에 z-index가 없으면 슬라이드에 가려져 보이지 않으므로 z-index 설정 필요! */

    display: none;
    /* 구현을 위한 초기설정! */
}

header .menu .lnb li {
    line-height: 40px;
    color: #555;
}

header .menu .lnb li a:hover {
    background-color: #ccc;
}


/*  슬라이드 */
main.slide {
    width: 100%;
    height: 350px;
    position: relative;
    /* li의 기준! */
}

main.slide .viewer {
    width: 100%;
    height: 100%;
}

main.slide .viewer li {
    width: 100%;
    height: 100%;
    position: absolute;
}

main.slide .viewer li.active {
    z-index: 1;
}

main.slide .viewer li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


section {
    width: 1340px;
    margin: 0 auto;

    position: relative;
    /* article.go의 기준! */
}

/* 바로가기(C.1) */
article.go {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);

    position: absolute;
    top: -100px;
    z-index: 99;
}

/* 
'바로가기 영역'이 슬라이드 위쪽에 겹치도록 배치되게 하려면,
section 전체를 위로 이동시키는 것이 아니라 
section을 기준(relative)으로 '바로가기 영역'만 절대위치(absolute)를 설정해야 합니다.

section에 relative로 section의 위치를 조절하게 되면 위로 이동한 공간만큼 section 아래에 여백처럼 남아요.

absolute는 기준요소 안에서 자신의 공간을 남기지 않기 때문에 기준요소 밖으로 위치하게 좌표를 설정하면 
section(기준요소)은 자신을 벗어난 바로가기 영역의 크기를 갖지 않고 배너와 공지사항/갤러리의 공간만큼만 높이로 갖게 됩니다.
*/

article.go .go-list {
    height: 100%;
    /* 위/아래 중앙정렬을 위해 높잇값 부여! */
    display: flex;
    gap: 100px;
    justify-content: center;
    /* 좌우 중앙정렬 */
    align-items: center;
    /* 주어진 높이에서 위/아래 중앙정렬 */
}

article.go .go-list li {}

article.go .go-list li img {
    width: 60px;
    border-radius: 8px;
    margin-right: 8px;
    vertical-align: middle;
}

article.go .go-list li p {
    color: #777;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}


/* 배너(C.2) */
article.banner {
    width: 100%;
    height: 200px;
    background-color: #eee;
}

article.banner a {
    padding: 30px 50px;
    display: flex;
    /* a안에 있는 img-box/txt/arrow를 flex 처리하겠다는 의미! */

    gap: 60px;
    align-items: center;
    /* 위아래 중앙정렬 */
}

article.banner .img-box img {
    display: block;
    height: 140px;
    /* banner에 높이가 설정되었고 너비는 유동적으로 조절될 공간이 충분하므로, '고정된' 높잇값 기준으로 이미지 크기 조절! */
    border-radius: 10px;
}

article.banner .txt {
    flex-grow: 1;
}

article.banner .txt h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article.banner .txt p {
    font-size: 20px;
    color: #666;
}

section .content>article {
    width: 50%;
    height: 300px;
    padding: 30px;
    box-sizing: border-box;
    float: left;
}

/* 공지사항, 갤러리 h2, ul 공통 */
section .content h2.title {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    background-color: #8D8BA7;
    border-radius: 10px 10px 0 0;
}

section .content ul.notice-list,
section .content ul.gallery-list {
    border-top: 3px solid #8D8BA7;
    background-color: #fff;
}


/* 공지사항(C.3) */
article.notice {}

article.notice .notice-list li {
    line-height: 45px;
    padding: 0 5px;
    border-bottom: 1px dashed #ccc;
    color: #555;
}

article.notice .notice-list li::after {
    content: "";
    display: block;
    clear: both;
}

article.notice .notice-list li a {
    float: left;
}

article.notice .notice-list li span {
    color: #777;
    float: right;
}

article.notice .notice-list li:hover {
    background-color: lightgoldenrodyellow;
}

article.notice .notice-list li a:hover {
    text-decoration: underline;
}


/* 갤러리(C.4) */
article.gallery {}

article.gallery .gallery-list {
    padding: 30px 20px;
}

article.gallery .gallery-list li {
    float: left;
}

article.gallery .gallery-list li~li {
    margin-left: 20px;
}

article.gallery .gallery-list li img {
    height: 120px;
    display: block;
}



/*****************************************************/

/* 모달 레이어 팝업 */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;

    display: none;
    /* 구현을 위한 초기설정! */
}

.modal .modal-content {
    width: 500px;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 12px;

    position: absolute;
    /* .modal 기준으로 위치설정! */
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
}

.modal .modal-content h3 {
    margin-bottom: 20px;
}

.modal .modal-content p {
    margin-bottom: 30px;
}

.modal .modal-content .btn-close {
    background-color: #000;
    color: #fff;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

/*****************************************************/


footer {
    width: 1340px;
    margin: 0 auto;
    height: 120px;
    background-color: #d9d9d9;
    display: flex;
    font-size: 14px;
    color: #777;
}

footer .copy {
    padding: 0 20px;
    flex-grow: 1;
}

footer .copy p {
    margin-top: 20px;
}

footer .fbox {
    padding: 0 20px;
    background-color: #eee;
    text-align: right;
}

footer .fbox .sns {
    border-bottom: 1px solid #ccc;
}

footer .fbox .sns li {
    display: inline-block;
    line-height: 40px;
    text-transform: uppercase;
}

footer .fbox .sns li~li {
    margin-left: 10px;
}

footer .fbox .sns li a:hover {
    text-decoration: underline;
}

footer .fbox .family-site select {
    height: 30px;
    margin-top: 20px;
    color: #777;
}